.card
  .card-header
    編集
  .card-body
    = simple_form_for(@routine) do |f|
      = f.input :name
      = f.input :checklist_url
      = f.input :image
      = f.input :rrule
      = f.button :button, class: 'btn btn-primary', data: { disable_with: in_progress }
