.card#app
  .card-header
    編集
  .card-body
    = simple_form_for(@routine) do |f|
      = f.input :name
      = f.input :checklist_url
      = f.input :image
      %rrule{ value: @routine.rrule }
      %h3 Selections
      #selections.my-2
        = f.simple_fields_for :selections do |selection|
          = render 'selection_fields', f: selection
        .links
          = link_to_add_association 'add selection', f, :selections
      = f.button :button, class: 'btn btn-primary', data: { disable_with: in_progress }

= javascript_pack_tag 'routine'

