.card
  .card-header
    = @routine.name
  .card-body
    .text-center
      = image_tag(@routine.image, class: 'w-50')
    .my-2
      = link_to fa_icon('list', text: 'チェックリストを開く'), @routine.checklist_url, target: '_blank'
    %form{ action: ENV['GOOGLE_FORM_ACTION'] }
      .form-group
        %label{ for: 'year' } 日付
        %input.form-control#year{ name: 'entry.2083007388', type: 'date' }
      .form-group
        %label{ for: 'hour' } 時刻
        %input.form-control#hour{ name: "entry.1553332316", type: 'time', value: Time.current.strftime('%H:%M') }
      .form-group
        %label{ for: 'content' } 内容
        - @routine.selections.pluck(:title).each.with_index(1) do |item, i|
          .form-check
            %input.form-check-input{ id: "content#{i}", name: 'entry.1694639330', type: 'radio', value: item }
            %label.form-check-label{ for: "content#{i}" }= item
      .form-group
        %label{ for: 'memo' } メモ
        %textarea.form-control#memo{ name: 'entry.537258214' }
      %button.btn.btn-primary{ name: 'button', type: 'submit', value: '送信' } 登録
