- breadcrumb :routine, @routine
.card
  .card-header
    = @routine.name
    = link_to fa_icon('edit', text: '編集'), edit_routine_path(@routine), class: 'small'
    = link_to fa_icon('list', text: '履歴'), routine_histories_path(@routine), class: 'small'
  .card-body
    - if @routine.image.attached?
      .text-center
        = image_tag(@routine.image, class: 'w-100')
    .my-2
      = link_to fa_icon('list', text: 'チェックリストを開く'), @routine.checklist_url, target: '_blank'
    = simple_form_for([@routine, @history]) do |f|
      = f.input :done_at, html5: true, value: Time.current.strftime('%Y/%m/%d %H:%M')
      = f.input :menu, collection: @routine.selections.order(:title).map(&:title), as: :radio_buttons
      = f.input :memo
      = f.button :button, class: 'btn btn-primary', data: { disable_with: in_progress }
